/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Aligne le titre à gauche et le menu à droite */
    align-items: center; /* Centre verticalement */
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto; /* Déplace la liste à droite */
}

nav a {
    color: white;
    text-decoration: none;
}

/* Section Hero */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                url('images/background2.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #234468;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('background2.png') center/cover no-repeat;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Noir à 50% d'opacité */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; /* Place le texte au-dessus du filtre foncé */
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-content p{
    font-size: 132%;
    padding-top: 2%;
}

.hero-content h2{
    font-size: 191%;
    font-family: monospace;
    padding-left: 30px;
}

#dynamic-word {
    font-family: monospace;
}

/* Section A propos */
#about {
    padding: 50px;
    text-align: center;
}

#about {
    background: #333b48;
    color: white;
    padding: 50px 9%;
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    text-align: left;
}

.about-container p {
    flex: 1;
    font-size: 1.1em;
    line-height: 1.6;
}

.about-container img {
    height: 330px;
    border-radius: 300px;
}


#skills {
    text-align: center;
    padding: 50px 9%;
    background: #f8f8f8;
}

.soft-skills {
    display: flex;
    justify-content: center; /* Centre les éléments sur la page */
    flex-wrap: wrap; /* Permet le passage à la ligne sur petits écrans */
    gap: 30px; /* Espacement entre les éléments */
    min-width: 500px; /* Largeur minimale pour éviter l'écrasement */
    max-width: 800px; /* Largeur maximale pour contrôler la mise en page */
    margin: 30px auto 60px auto; /* Centre le bloc dans la page */
}

.soft-skills div {
    text-align: center;
    max-width: 120px;
}

.soft-skills img {
    width: 50px;
    height: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hard-skills {
    flex: 1;
}

#skillTop {
    margin-top: 0;
}

.hard-skills h3 {
    margin-top: 20px;
    color: #444;
    font-size: 1.2em;
}

.bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2.8px;
}

.fill {
    height: 100%;
    background: #003366;
    border-radius: 5px;
}

.cv-container {
    flex: 1;
    text-align: center;
    align-content: space-around;
}

.cv-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#typing-text {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

#dynamic-word::after {
    content: "|";
    display: inline-block;
    margin-left: 5px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* ===================== */
/* SECTION PROJETS       */
/* ===================== */

#projects {
    background-color: #333b48;
    padding: 50px 9%;
    text-align: center;
}

#projects h2 {
    margin-bottom: 40px;
    color: white;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px; /* Ajustez selon vos besoins */
    padding: 20px;
    text-align: left;
}

.project-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-item h3 {
    margin-top: 0;
    color: #234468;
}

.project-item p {
    margin: 5px 0;
    color: #555;
}

.swiper-button-prev, .swiper-button-next {
    
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #181a1e;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 50%; /* Arrondir les bords pour une forme circulaire */
    padding: 10px; /* Ajouter un peu d'espace autour des flèches */
}

.swiper-backface-hidden .swiper-slide {
    min-height: 460px;
}


/* =========== RECOMMANDATION =========== */
#recommendations {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
}

#recommendations h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 25px;
}

.recommendations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.recommendation-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

/* Effet au hover pour faire apparaître un fond multicolore */
.recommendation-item:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #ff7b7b, #f1f777, #76f4f4, #7b7bff);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

/* Animation du dégradé pour créer un effet de mouvement */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Animation du mouvement de l'image */
.recommendation-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

blockquote {
    font-style: italic;
    color: #555;
    margin: 10px 0;
}

.recommendation-item p {
    color: #777;
    font-size: 0.9rem;
}

.profNom {
    font-weight: bold;
}

/* =========== FOOTER =========== */
footer {
    background: #181a1e;
    color: white;
    padding: 20px 1%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-column {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.footer-column h2{
    padding-bottom: 10px;
}

.contact-info {
    max-width: 500px;
    max-width: 55%;
}

.social-links {
    display: flex;
    justify-content: right;
    gap: 40px;
    max-width: 45%;
}

.social-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

/* Icônes blanches par défaut */
.social-links a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /* Rend les icônes blanches */
    transition: filter 0.3s ease, transform 0.2s ease;
}

/* Au survol, affiche les couleurs d'origine */
.social-links a:hover img {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-column {
        text-align: center;
        margin-bottom: 20px;
    }
    .social-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .social-links a {
        font-size: 1.2em;
    }
}

/* Par défaut, GitHub utilise l'icône blanche */
.social-links a img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    transition: transform 0.2s ease, filter 0.3s ease;
}

/* Toutes les icônes sauf GitHub passent en couleur */
.social-links a:hover img:not(.github-icon) {
    filter: none;
    transform: scale(1.1);
}

.social-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white; /* Couleur par défaut */
    transition: color 0.3s ease-in-out;
}

/* Spécifique à chaque réseau */
.social-link[href*="instagram"]:hover { color: #FCAF45  ; }  /* Insta */ 
.social-link[href*="mailto"]:hover { color: #D14836; } /* Gmail */
.social-link[href*="linkedin"]:hover { color: #0077B5; }  /* LinkedIn */
.social-link[href*="github"]:hover { color: #6E5494; }  /* GitHub */


/*
mettre swiper à 1 pour responsif
mettre meme taille pour les images dans swiper
*/
